*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
.product-Our-Company {
    border-top: 1px dashed rgb(223, 221, 221);
}

.product-company-baner-div {
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url(about-us-page-heading.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.product-detail-box h1 {
    font-weight: 800;
    font-size: 50px;
    padding: 10px 30px;
}

.product-detail-box p {
    font-size: 20px;
    font-weight: 600;
}

.product-details-box2 {
    padding: 0px 20px !important;
    width: 100%;
    font-weight: 800;
    font-family: Times, 'Times New Roman', serif;

}

.product-details-box2 p {
    color: rgb(203, 201, 201);
    font-size: 17px;
}

.fa-angle-left,
.fa-angle-right
{
    display: none !important;
}

.Men-Latest-section h2{
    font-weight: 700;

}

.down-content{
    text-align: left !important;
    overflow: hidden;
    z-index: -1 !important;
}